html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

video {
  position: absolute;
}
#overlay {
  width: 640px;
  height: 200px;
  position: absolute;
  z-index: 10;
}
::ng-deep #overlay div div {
  font-size: 15px;
}